*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #93d9e9;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    margin: 10px;
    box-shadow: 5px 6px 7px rgb(141, 141, 141);
    background-color: white;
    text-align: center;
    align-items: center;
}

h1{
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    height: 120px;
    width: 100%;
}

.contenido{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.texto{
    padding: 30px;
}

p{
    padding: 8px;
}

hr{
    border: 0.5px solid rgba(128, 128, 128, 0.365);
    width: 270px;
}

button{
    width: 140px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
}