*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.images img {
    max-width: 30%; 
    margin: 10px;
    height: auto;
    border-radius:20px;
}